
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root{
  --color-primary: #20cd91;
  --color-primary-light: #20cd9155;
  --color-primary-dark: #20cd91bb;
  --color-secondary: #f0f0f0;
  --color-secondary-light: #f0f0f0cc;
  --color-black: #0f0f0f;
  --color-black-light: #0f0f0f88;

  /* .modal .content */
  --background-color-modal-content: #D3D3D3;
  --border-color-modal-content: #888;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-primary-light);
}

header, footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  1rem;
}

button{
  border-style: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

main {
  background-color: var(--color-secondary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.albumPokemon {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  
  padding: 0;
  margin: 0;
}

.cardPokemon{
  padding: .5rem;
  border-radius: .5rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 120px;
}

.cardPokemon:hover{
  background-color: var(--color-primary-dark);
  color: var(--color-secondary);
  cursor: pointer;
}

.cardPokemon img{
  border-style: none;
  max-width: 100%;
  height: 100%;
  align-self: center;
}

.cardPokemon p{
  align-self: center;
}

/* ======================= */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--color-black-light);
}

.modal .content {
  background-color: var(--background-color-modal-content);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--border-color-modal-content);
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}