
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

:root{
  --color-primary: #23c9a5;
  --color-primary-light: #00cd9155;
  --color-primary-dark: #00cd91bb;
  --color-secondary: #f0f0f0;
  --color-secondary-light: #f0f0f0cc;
  --color-black: #0f0f0f;
  --color-black-light: #0f0f0f88;

  /* .modal .content */
  --background-color-modal-content: #D3D3D3;
  --border-color-modal-content: #888;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-primary-light);
}

header, footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  1rem;
}

button{
  border-style: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

main {
  background-color: var(--color-secondary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.albumPokemon {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
}

.cardPokemon{
  padding: .5rem;
  border-radius: .5rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 200px;
  height: 220px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
  .cardPokemon {
    flex-basis: 180px;
    height: 180px;
  }
}

.cardPokemon:hover{
  background-color: var(--color-primary-dark);
  color: var(--color-secondary);
  cursor: pointer;
}

.cardPokemon img{
  border-style: none;
  max-width: 100%;
  height: 100%;
  align-self: center;
  filter: drop-shadow(0 4px 16px rgba(0, 0, 0, 0.3));
  border-bottom: var(--color-secondary) 1px dotted;

}

.cardPokemon p {
  margin-left: 2rem;
  padding: .1em;
  color: var(--color-secondary);
  text-align: center;
  text-transform: capitalize;
  align-self: self-start;
}

.typesPokemon {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.cardPokemon small {
  padding: .2em .4em;
  border-radius: .5rem;
  color: var(--color-secondary);
  font-size: .8rem;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.carregando {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: 100%;
  color: var(--color-black);
}

.botaoVerMais {
  margin-top: 1rem;
}

/* ======================= */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--color-black-light);
}

.closeModal {
  position: absolute;
  top: 20px;
  right: 35px;
  background-color: #f00;
}

.modal .content {
  background-color: var(--background-color-modal-content);
  margin: 15% auto;
  width: 80%;
  max-width: 600px;
  max-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "pokemonImage info" "descricao descricao";
  border-radius: 20px;
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#pokemonName {
  font-size: 1.5rem;
  text-transform: capitalize;
}

#pokemonImage {
  grid-area: pokemonImage;
  height: 100%;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  line-height: 1.5;
}



#pokemonType small {
  padding: 0 .4rem;
  margin: 0 .1rem;
  border-radius: .5rem;
  color: var(--color-secondary);
  font-size: .8rem;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#pokemonAbilities small {
  padding: 0 .4rem;
  margin: 0 .1rem;
  border-radius: .5rem;
  background-color: var(--color-black-light);
  color: var(--color-secondary);
  font-size: .8rem;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#pokemonDescription {
  grid-area: descricao;
  padding: 1rem;
  text-align: justify;
  color: var(--color-black);
  font-size: 1rem;
}


@media screen and (max-width: 720px) {
  .modal .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal .content > div {
    width: 100%;
  }
}